/*
Theme Name:     WeBuyAnyBike.Today
Theme URI:      http://webuyanybike.today
Description:    webuyanybike.today WordPress Theme.
Author:         Marky T
Author URI:     http://webuyanybike.today
Template:       twentyfourteen
Version:        1.0
*/
@import url("../twentyfourteen/style.css");
@font-face {
    font-family: 'coolveticaregular';
    src: url('fonts/coolvetica-webfont.eot');
    src: url('fonts/coolvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica-webfont.woff2') format('woff2'),
         url('fonts/coolvetica-webfont.woff') format('woff'),
         url('fonts/coolvetica-webfont.ttf') format('truetype'),
         url('fonts/coolvetica-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: regplate;
	src:url(fonts/regplate.eot);
	src:url(fonts/regplate.eot?#iefix) format('embedded-opentype'), url(fonts/regplate.woff) format('woff'), url(fonts/regplate.ttf) format('truetype'), url(fonts/regplate.svg#regplate) format('svg');
	font-weight:500;
	font-style:normal;
}
/* ======= Global ======= */

body {
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	color: #191919;
	font-size: 15px;
}
.site:before {
	display: none;
}
.site {
	max-width: none;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	letter-spacing: 1px;
	margin:0;
}
a {
	color: #4B76BA;
}
a:hover {
	color: #4B76BA;
	text-decoration: underline;
}
/* ======= Header ======= */

.site-header {
	max-width: none;
	background:#4C9CD6;
}
a.logo {
	float: left;
	background: #fff;
	padding: 16px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 10px;
    width: 20%;
}

.logo img {
    width: 100%;
}
.primary-navigation {
	margin: 40px 0 0;
}
.primary-navigation li {
  border: 0;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  position: relative;
	background: none !important;
}
.primary-navigation li a{
	line-height: 25px;
	padding: 0 25px;
	font-size: 18px;
	border-right: 1px solid #fff;
	height: 25px;
	color: #fff;
	text-decoration: none!important;
	background: none !important;
}
.site-navigation .current_page_item > a, .site-navigation .current_page_ancestor > a, .site-navigation .current-menu-item > a, .site-navigation .current-menu-ancestor > a, .site-navigation .current_page_item > a, .site-navigation .current_page_ancestor > a, .site-navigation .current-menu-item > a, .site-navigation .current-menu-ancestor > a, .primary-navigation li a:hover, .current_page_parent a {
	color: #000 !important;
	font-weight: normal;
}
.primary-navigation li:last-child a {
	border-right: 0;
	padding-right: 45px;
}
a.sell-head {
	float: right;
	margin-top: 27px;
	text-transform: uppercase;
	border-radius: 5px;
	line-height: 48px;
	background: #fff;
	font-size: 18px;
	padding: 0 15px;
	color: #000 !important;
}
a.sell-head:hover {
	text-decoration: none;
	background: #b1e7ca ;
}
/* ======= Content ======= */

#row {
	background: url(images/fade-top.png) repeat-x top center;
	border-top: 1px dashed #ababab;
	padding: 20px 0 65px;
	position: relative;
	clear: both;
}
#row.no-head {
	padding: 65px;
}
#row.blank {
	background: none;
	border-top: none;
}
#inner-container {
	max-width: 1010px;
	margin: 0 auto;
}
#inner-container::after {
	clear: both;
	content: '';
	width: 100%;
	display: block;
}
#column {
	float: left;
	width: 50%;
	padding: 0;
}
#column img {
	max-width: 100%;
	position: relative;
}
#column.blog {
	padding-top: 40px;
}

#column.seventy5 {
	width: 75%;
}
#column.twenty5 {
	width: 25%;
}
#main-content article {
	margin: 0;
}

/* ======= Homepage ======= */

h1 {
	margin: 50px 0 50px;
	font-size: 58px;
	color: #252525;
}
h1.home {
	text-align: center;
}
h2 {
	font-size: 27px;
	margin: 35px 0 20px;
}
.home-post-feed {
	padding-bottom:30px;
	margin-bottom: 30px;
	border-bottom: 2px dashed #ababab;
	clear: both;
	display: block;
}
.home-post-feed:last-child {
	border-bottom: none;
	margin: 0;
}
.home-post-feed h4 {
	font-size: 20px;
	font-family:"Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	margin-bottom: 15px;
}
.home-post-feed h4 a{
	color: #000;
}
.home-post-feed p {
	margin-bottom: 0;
}
.home-post-feed p.date {
	font-size: 14px;
	font-weight: 700;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	margin-bottom: 5px;
	color: #424242;
}
.home-post-feed .more-link {
	display: none;
}
.home-post-feed a.blog-readmore{
	color: #0092cf;
	font-size: 14px;
	font-weight: 700;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	margin: 0;
}
/* ======= About page ======= */

#row.process {
	text-align: center;
	padding-bottom: 100px;
}
#row.process h2 {
	font-size: 30px;
	margin-bottom:50px;
}

.about #column.seventy5 {
	width: 65%;
}
.about #column.twenty5 {
	float: right;
}
.about ul {
	margin-left: 0;
	list-style: none;
}
.about ul li {
	color: #008ed3;
	line-height: 26px;
	background: url(images/tick.png) no-repeat left center;
	padding-left: 20px;
}
.about ul li a {
	color: #008ed3;
}
/* ======= Thanks page ======= */

#row.thanks {
	text-align: center;
	padding-bottom: 200px;
}
#row.thanks h2 {
	display: none;
}
.thank-you {
	width: 384px;
	text-align: center;
	padding: 160px 0 40px;
	margin: 0 auto;
	background: url(images/thanks.png) no-repeat center top;
	font-size: 42px;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	letter-spacing: 1px;
}


/* ======= Shortcodes ======= */

.coloured-tiles {
	width: 10)%;
	clear: both;
}
.tile {
	float: left;
	width: 15%;
	padding: 1.7%;
	background: #e7c447;
	text-align: center;
	border-radius: 5px;
	margin: 0 1%;
}
.tile.one {
	margin-left: 0;
}
.tile.two {
	background: #6a8d73;
}
.tile.three {
	background: #4c9cd6;
}
.tile.four {
	background: #ee2256;
}
.tile.five {
	margin-right: 0;
	background: #a1499c;
}
.tile img {
	display: inline-block;
}
.tile p {
	margin: 0;
	color: #fff;
	font-size: 15px;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	line-height: 25px;
	letter-spacing: 1px
}

.reg-wrapper {
	max-width: 640px;
	text-align: center;
	margin: 0 auto;
}
p.reg-intro {
  font-size: 22px;
  padding-left: 85px;
}
.reg-wrapper.standalone p.reg-intro {
  margin-top: 55px;
}
p.reg-intro span {
	color: #4B76BA;
}
form#reg-input {
	margin-top: -80px;
}
.reg-input {
	float: left;
	width: 64%;
	background: url(images/registration-field.png) no-repeat left top;
	padding: 97px 0 20px;
}
.reg-input input {
	padding: 0 30px;
	  height: 70px;
	  background: none;
	  border: none;
	  width: 90%;
	  line-height: 80px;
	  font-family: regplate, Arial, Helvetica, sans-serif;
	  text-transform: uppercase;
	  font-size: 40px;
}
p.dont-know {
	clear: both;
	font-size: 16px;
	margin-bottom: 60px;
}
.reg-wrapper input[type=submit] {
	border: 2px solid #000;
	border-radius: 5px;
	background: #4B76BA;
	text-transform: none;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	letter-spacing: 1px;
	height: 72px;
	padding: 7px;
	margin-top: 95px;
	font-weight: normal;
	font-size: 26px;
}
.reg-wrapper input[type=submit]:hover {
	background: #f9b613;
}
span.steps {
	float: right;
	text-align: right;
	margin-top: -50px;
	width: 100%;
}
span.steps img {
	max-width: 100%;
	position: relative;
}
span.steps p {
	margin: 0;
}
span.floated-image img{
	margin-left: 50px;
}
a#cta {
	border: 2px solid #000;
  	border-radius: 5px;
  	background: #4B76BA;
  	text-transform: none;
  	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
  	letter-spacing: 1px;
  	line-height: 70px;
	float: left;
	color: #fff;
	padding: 0 30px;
  	margin-top: 35px;
  	font-weight: normal;
  	font-size: 26px;
}
a#cta:hover {
	text-decoration: none;
	background:#f9b613;
}
.no_haggle {
	clear: both;
	width: 100%;
	position: relative;
	padding-top: 75px;
}
.no_haggle .haggle-wrapper {
	margin-left: 127px;
	padding: 10px 35px 30px 90px;
	background: #d0f2ff;
	border-radius: 5px;
}
.no_haggle .haggle-wrapper p {
	width: 65%;
	float: left;
}
.no_haggle .haggle-wrapper a#cta {
	float: right;
	margin-top: 0;
}
.no_haggle .haggle-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
}
img.motorbike-trail {
  float: right;
  margin-top: -25px;
  margin-right: 35px;
  width: 75%;
}
.contact-wrapper p{
	padding-left: 104px;
	line-height: 84px;
	background: url(images/email.png) no-repeat center left;
	margin: 40px 0 20px;
	font-size: 20px;
}
.contact-wrapper p a {
	color: #191919;
}
.contact-wrapper p a:hover {
	color: #4B76BA;
	text-decoration: none;
}
.contact-wrapper p.phone {
	background: url(images/phone.png) no-repeat center left;
}
.contact-wrapper p.address {
	background: url(images/address.png) no-repeat center left;
}
.contact-wrapper p.hours {
	background: url(images/opening.png) no-repeat center left;
}
.contact-wrapper p.phone,
.contact-wrapper p.email {
	font-size:  26px;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
  	letter-spacing: 1px;
}


/* ======= Enquiry Form ======= */
.form-header {
	text-align: left;
	max-width: 580px;
	margin: 0 auto;
	padding-left: 190px;
	position: relative;
}
.form-header img {
	position: absolute;
	left:0;
	z-index:100;
	top: -16px;
}
.form-header p {
	margin: 0;
}
.form-header > p {
	font-size: 22px;
}
.form-header > p span {
	color: #4B76BA;
	text-transform: uppercase;
}
.form-header h2{
	color: #4B76BA;
	margin-top: 20px;
	font-size: 52px;
}
#row.enquiry-form-top {
	text-align: center;
}
#row.enquiry-form {
	text-align: center;
}
#form-wrapper {
	background: #faffd3;
	border-radius: 5px;
	padding: 40px;
	margin: 0 auto 50px;
	max-width: 540px;
}
#form-wrapper.one {
	margin-top: 30px;
}
#form-wrapper::after {
	clear: both;
	width: 100%;
	content: '';
}
#form-wrapper .input-wrapper {
	margin-bottom: 16px;
	padding: 0 110px;
}
#form-wrapper input[type='email'],
#form-wrapper input[type='number'],
#form-wrapper input[type='tel'],
#form-wrapper select,
#form-wrapper input[type='text']{
	width: 100%;
	background: #fcfcfc;
	border: 1px solid #d6d5d5;
	height: 40px;
}
#form-wrapper select{
	display: block;
	  height: 48px;
	  font-size: 14px;
	  background-image: none;
	  clear: left;
}
#form-wrapper label {
	  padding-bottom: 5px;
  float: left;
  width: 100%;
}
#form-wrapper label span {
	color: #4B76BA ;
}
#form-wrapper p.error-message {
	text-transform: capitalize;
  text-align: center;
  margin: 5px 0 0;
  font-weight: 700;
  font-family: Arial, 'Helvetica', sans-serif;
  color: red;
}
#form-wrapper {
	text-align: left;
	position: relative;
}
#form-wrapper h3 {
	position: relative;
	padding-left: 75px;
	line-height: 60px;
	padding-bottom: 20px;
	font-size: 28px;
	border-bottom: 1px dashed #a4a78a ;
	margin-bottom: 45px;
}
#form-wrapper h3 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	line-height: 60px;
	color: #fff;
	border-radius: 50%;
	background: #f9b613 ;
	text-align: center;
	font-weight: 500;
	font-size:34px;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif !important;
}
#form-wrapper h3 span.legend {
	position: relative;
	left: auto;
	width: auto;
	top: auto;
	border-radius: 0;
	background: none;
	color: #000;
	font-family: Arial, 'Helvetica', sans-serif !important;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0;
	font-weight: 500;
	float: right;
}
#form-wrapper.two {
	background: #e5f6ff;
}
#form-wrapper.two h3 span.numbering {
	background: #008ed3;
}
#form-wrapper.three {
	background: #ffe9ea;
}
#form-wrapper.three h3 span.numbering {
	background: #ec1c24;
}
#form-wrapper.four {
	background: #e4faea  ;
}
#form-wrapper.four h3 span.numbering {
	background: #4B76BA;
}
#submit-wrapper {
	max-width: 620px;
	margin: 0 auto;
}
#submit-wrapper input[type=submit] {
  border: 2px solid #000;
  border-radius: 5px;
  background: #4B76BA;
  text-transform: none;
  font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
  letter-spacing: 1px;
  height: 80px;
  padding: 0;
  font-weight: normal;
  width: auto;
padding: 0 55px;
  font-size: 26px;
	float: right;
}
#submit-wrapper input[type=submit]:hover {
	background: #f9b613;
}
#submit-wrapper img {
	float: left;
	padding-left: 40px;
	padding-top: 10px;
}
.checkbox {
width: 25px;
	position: relative;
}
.checkbox input{
	visibility: hidden;
}
.checkbox label {
	cursor: pointer;
	  position: absolute;
	  width: 25px;
	  height: 25px;
	  top: 0;
	  left: 0;
	  background: #eee;
	  border: 1px solid #ddd;
}
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox label:hover::after {
  opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
#form-wrapper.checkbox-simple {
	text-align: left;
}
#form-wrapper.checkbox-simple .input-wrapper {
	padding: 0;
}
#form-wrapper.checkbox-simple input {
	float: left;
	width: 25px;
	height: 25px;
}
#form-wrapper.checkbox-simple label {
	width:auto;
	float: left;
}
#form-wrapper.checkbox-simple label a {
	color: #008ed3;
	text-decoration: underline;
}
.address-lookup  {
	float: right;
	line-height: 36px;
	border: 2px solid #141212;
	background: #4B76BA ;
	color: #fff;
	width: 30%;
	text-align: center;
	font-size: 18px;
	display: block;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif !important;
	cursor: pointer;
}
.address-lookup:hover {
  background: #f9b613;
}
input#post-code {
	width: 66% !important;
}

/* ======= System Pages ======= */

.blog-wrap article.content-none {
	width: 70%;
	padding-left: 0%;
}

/* ======= Footer ======= */

#row.footer {
	padding: 20px 0 16px;
}
#row.footer p.copyright {
	color: #737373;
	font-size: 11px;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif;
	float: left;
}
#row.footer p.links {
	color: #4B76BA;
	font-size: 11px;
	font-weight: 700;
	font-family: "Arial Rounded MT Bold","Arial Rounded MT",Arial,sans-serif;
	float: right;
}
#row.footer p.links a{
	color: #4B76BA;
	text-decoration:  none;
}
#row.footer p.links a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
	#inner-container{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (max-width: 1007px) {
	#secondary {
		background: none;
		border: none;
		clear: none;
	}
	.primary-sidebar {
		padding-top: 0;
	}
}
@media only screen and (max-width: 990px) {
	.primary-navigation li a {
		padding: 0 15px;
		font-size: 16px;
	}
}
@media only screen and (max-width: 980px) {
	.tile p {
		font-size: 15px;
		line-height: 20px;
		min-height:  40px;
	}
}
@media only screen and (max-width: 920px) {
	#secondary {
		display: none;
	}
	.blog-wrap article {
		width: auto;
	}
	.navigation.post-navigation {
		width:90%;
	}
}
@media only screen and (max-width: 900px) {
	.no_haggle .haggle-wrapper p {
		width: 100%;
	}
	.no_haggle .haggle-wrapper a#cta {
		float: left;
		margin-bottom: 20px;
	}
	.primary-navigation li a {
		padding: 0 10px;
		font-size: 14px;
	}
	.primary-navigation li:last-child a {
		padding-right: 20px;
	}
	span.floated-image {
		display: none;
	}
	.no_haggle .haggle-wrapper {
		margin-top: 20px;
	}
	.no_haggle .haggle-wrapper img {
		top: 20px;
	}
}
@media only screen and (max-width: 800px) {
	.primary-navigation .menu-toggle {
		display: none;
	}
	.primary-navigation .nav-menu {
		display: block;
		border: none;
	}
	nav#primary-navigation {
		width: 100%;
		clear: both;
		margin: 0;
	  padding: 10px;
	}
	#masthead #inner-container {
		padding: 0;
	}
	a.logo {
		margin-left: 10px;
	}
	header a.logo {
		border-radius: 5px;
        width: 25%;
	}
	a.sell-head {
		margin-right: 10px;
	}
	footer#masthead nav {
		display: none;
	}

	h1 {
  	font-size: 42px;
	}
	.tile {
		margin: 0 1% 2% !important;
		padding: 2%;
		width: 27.333%;
	}
}
@media only screen and (max-width: 765px) {
	.form-header h2 {
		font-size: 44px;
	}
	.form-header img {
		top: -36px;
	}
	.form-header > p {
		font-size: 14px;
	}
}
@media only screen and (max-width: 690px) {
	.blog-wrap article {
		padding-left: 0;
	}
	.blog-wrap article h1 {
		margin-left: 75px;
		width: auto !important;
	}
	.blog-wrap article 	.entry-meta {
		margin-left: 75px;
	}
}
@media only screen and (max-width: 665px) {
	#column {
		width: 100%;
	}
	span.steps {
		float: left;
		text-align: left;
		margin-top: 20px;
	}
	img.motorbike-trail {
		width: 100%;
		margin-right: 0;
	}
	.no_haggle .haggle-wrapper img {
		display: none;
	}
	.no_haggle .haggle-wrapper {
		margin-left: 0;
		padding: 10px 35px 30px 35px;
	}
	.contact-wrapper p.address,
	.contact-wrapper p.hours {
		font-size: 16px;
		line-height: 42px;
		height: 84px;
	}
	form#reg-input {
		text-align: center;
		margin-top: -20px;
	}
	.reg-input {
		width: 404px;
		  display: inline-block;
		  float: none;
	}
	.reg-wrapper input[type=submit] {
		clear: both;
		width: 370px;
		margin: 10px 0;
		display: inline-block;
		margin-left: 7px;
	}
	p.reg-intro {
		  padding-left: 0px;
	}
	h1.home {
		margin-bottom: 20px;
	}
	.about #column.seventy5 {
		width: 100%;
	}
	.about #column.twenty5 {
		display: none;
	}
	.form-header img {
		display: none;
	}
	.form-header {
		padding-left: 0;
		max-width: 100%;
		text-align: center;
	}
	#form-wrapper .input-wrapper {
		padding: 0;
	}
	#column.blog.twenty5 {
		display: none;
	}
	#column.seventy5.blog {
		width: 100%;
	}
}
@media only screen and (max-width:580px) {
	#form-wrapper.checkbox-simple label {
		width: 90%;
	}
	#form-wrapper.checkbox-simple .input-wrapper::after {
		clear: both;
		width: 100%;
		content: '';
		display: block;
	}
	#submit-wrapper img {
		padding-left: 0;
	}
}
@media only screen and (max-width: 480px) {
	#masthead {
		text-align: center;
	}
	a.logo {
		float: none;
		margin-left: 0;
		display: inline-block;
	}
	a.sell-head {
		display: none;
	}
}
@media only screen and (max-width: 450px) {
	.tile {
		margin: 0 1% 2% !important;
		padding: 2%;
		width: 44%;
	}
}
@media only screen and (max-width: 400px) {
.about ul {
	background: none;
}
#form-wrapper {
	padding: 20px;
}
}

.failedvalidation input, .failedvalidation select {
	border-color:red!important;
	background:#fdeeee!important;
}

.failedvalidation {
	color:red;
}

input.required, select.required {
  color: #2b2b2b;
}

.radiobtnGroup {
	width: 100%;
	clear: both;
}
